<h2>Contact#show_contact</h2>

<div>Show contact here!!!!</div>

<div>
<h3>Contact form</h3>
<%= form_tag(contact_path, method: 'patch') do %>
  <%= label_tag('field_name', 'Field name') %>
  <%= text_field_tag('field_name') %><br>

  <%= label_tag('value', 'Field value') %>
  <%= text_field_tag('value') %><br>


  <%= label_tag('notes', 'Notes') %>
  <%= text_field_tag('notes') %><br>

  <%= submit_tag('submit') %>
<% end %>
</div>
