<!DOCTYPE html>
<html ng-app='crmApp'>
<head>
  <title>Pied Piper</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<%= render "shared/navbar" unless @supressNavbar%>

<%= yield %>

<footer>
  <div class="row">
    <div class="columns">
      <!-- <%= flash[:error] || flash[:notice] || flash[:message] %> -->
    </div>
  </div>
</footer>

</body>
</html>
